.header {
  display: flex;
  justify-content: center;
  background-color: var(--primary-light);
  padding: 1.5rem;
}

.centralContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
}

.text {
  color: black;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 768px) {
  .centralContainer {
    gap: 1rem;
  }

  .tema {
    font-size: 1.6rem;
  }
}

.containerImg img {
  height: auto;
  width: 100%;
  max-width: 20rem;
}

