.grid {
    padding: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.card {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
    font-size: 3rem;
    text-align: center;
}

.container {
    display: grid;

    grid-template-areas: 
    "header1 header1 header1"
    "aside1 header2 aside2"
    "aside1 main aside2"
    "aside1 footer1 aside2"
    "footer2 footer2 aside2";

    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 10rem 5rem calc(100vh - 15rem) 20rem 20rem;

    @media (max-width: 1200px) {
        grid-template-areas: 
    "header1"
    "header2"
    "main"
    "footer";

    grid-template-columns: 1fr 2fr;
    }
}

.header1 {
    grid-area: header1;
    background-color: rgb(135, 117, 255);
}

.header2 {
    grid-area: header2;
    background-color: rgb(147, 255, 255);
}

.aside1 {
    grid-area: aside1;
    background-color: rgb(255, 170, 12);

    @media (max-width: 1200px) {
        display: none;
    }
}

.aside2 {
    grid-area: aside2;
    background-color: rgb(255, 104, 104);

    @media (max-width: 1200px) {
        display: none;
    }
}

.footer1 {
    grid-area: footer1;
    background-color: rgb(125, 255, 125);

    @media (max-width: 1200px) {
        display: none;
    }
}

.footer2 {
    grid-area: footer2;
    background-color: rgb(255, 74, 246);
}