.grid {
    padding: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.title {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 4rem;
    color: var(--primary-light);
    font-weight: bolder;


}
.card {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 2rem 2rem 2 rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    text-align: center;

    @media (max-width: 1200px) {
        font-size: 2rem;
        padding: 2rem;     
    }
}

.container {
    display: grid;

    grid-template-areas: 
    "header"
    "main"
    "footer";

    grid-template-columns: 1fr;
    grid-template-rows: 10rem 5rem calc(100vh - 15rem);
}

.header {
    grid-area: header;
    background-color: rgb(135, 117, 255);
}

.footer {
    grid-area: footer;
    background-color: rgb(125, 255, 125);

    @media (max-width: 3000px) {
        display: none;
    }
}

.main {
    grid-area: main;
    background-color: rgb(255, 125, 125);
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}